/* ==================== ROOT VARIBLES */
:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-navbar: #0f1111;
  --color-orange: #f9af23;
  --color-orange-1: #f58013;

  --color-logo: #10a310;
  --color-info-light: #7d8da1;

  --card-border-radius: 2rem;
  --border-radius-1: 0.5rem;

  --padding-1: 0.6rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: normal;
  font-family: Verdana;
}
body::-webkit-scrollbar {
  display: none;
}
/* ====================== navbar */

#navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  position: fixed;
  background: var(--color-navbar);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 1;
}

#logo {
  width: 20%;
}

#logo > a {
  width: 20%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo > a > img {
  width: 100%;
}

#logo > a > h1 {
  color: var(--color-orange);
  font-family: Impact;
}

#logo > a > h1 > span {
  color: var(--color-white);
  font-family: Impact;
}

#search {
  /* width: 25%; */
}

#search > input {
  /* width: 100%; */
  border-radius: var(--border-radius-1);
  border: 0;
  padding: var(--padding-1);
  box-shadow: rgba(0, 0, 0, 1) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.1) 0px 0px 0px 3px;
  font-size: larger;
  color: var(--color-orange);
}
::-webkit-input-placeholder {
  color: var(--color-orange);
}
#search > button {
  border-radius: var(--border-radius-1);
  border: 0;
  padding: var(--padding-1);
  background: var(--color-orange);
  color: var(--color-white);
  font-size: larger;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#side3 > a > img {
  border-radius: var(--border-radius-1);
  background: var(--color-white);
}

.fillterBtn:hover {
  background: var(--color-orange-1);
  color: var(--color-white);
}

/* ====================== mainCont */

#main{
  display:flex;
  width:90%;
  margin:auto;
  justify-content: space-between;

}
#container{
  margin-top:90px;
}
/* container css */
#container{
  width:80%;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:40px;
  font-weight: 500;
}

#container>div .image{
width:100%;
height:300px;
}

/* imgBtn CSS */
#container .imgBtndiv{
  position:relative;
}

#container .BtnAdd{
  border-style: none;
  padding:7px 12px;
  font-size: 14px;
  background-color: #FF7035;
  color:#FFFFFF;
  position:absolute;
  left:28%;
  bottom:0;
  opacity:0;
  transition:1s;

}
#container .imgBtndiv:hover .BtnAdd{
  bottom:12%;
  opacity:1;
}
#container .BtnAdd{
  cursor:pointer;
}

#container .image{
  width:100%;
  margin:0 0 8px;

}


#container>div .name{
  font-size: 15px; 
  color:black; 
  font-weight: 400;
  margin:0 0 4px;
  
}

#container>div .brandName{
  font-size:14px;
  color:#848484;
}

#price{
  display:flex;
  height:40px;
  align-items: center;
  
}

#price .discountPrice{
  font-size: 16px;
  color:#FF7035;
  margin-right:8px;
  font-weight: bolder;
}

#price .totalPrice{
  color:#848484;
  font-size:12px;
  text-decoration-line: line-through;
}

#container .discount{
  font-size: 14px;
  color:#67AD5B;
  font-weight: bold;
  margin:0 0 8px;
}
#container .shippingDay{
  font-size:12px;
  color:#121212;
}

#main .sorting{
  position:fixed;
  font-size: 16px;
  top:90px;
}

#main .sorting>h3{
margin-bottom: 16px;

}
#main .sorting>input{
  margin-bottom: 12px;
  margin-right:5px;
  
}
#main .sorting:hover, #main .sorting>input:hover{
  cursor: pointer;
}
#main .filter{
  position:fixed;
  top:250px;
  font-size: 16px;
}

#main .filter input{
  margin-right:5px;
  margin-bottom: 12px;
}

#main .filter h5{
  margin:8px 0px 12px 0px;
}

/* footer */
#footer {
  width: 80%;
  margin-left:20%;
  padding: 25px 25px 25px 25px;
  margin-top: 20px;
  background: var(--color-navbar);
  color: var(--color-white);
}
#first > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 10px 0 10px 0;
}
#first > div > img {
  width: 5%;
  cursor: pointer;
}
/* ====================== second part */
#second {
  display: flex;
}
#second > div:nth-child(1) {
  width: 100%;
  display: flex;
  align-items: center;
}
#second > div:nth-child(1) > div {
  width: 50%;
}
#second > div:nth-child(1) > div > p {
  margin-top: 10px;
  cursor: pointer;
}
#second > div:nth-child(1) > div > p:hover {
  color: var(--color-orange);
}
#second > div:nth-child(2) {
  width: 100%;
}
#second > div:nth-child(2) > h2,
h3 {
  margin-bottom: 20px;
}
#second > div:nth-child(2) > div {
  display: flex;
}
#second > div:nth-child(2) > div > img {
  width: 30%;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  margin-right: 20px;
}

/* ====================== third part */

#third {
  margin-top: 20px;
}
#third > p {
  margin-top: 10px;
  text-align: center;
}

/* media queries mediun size*/

@media screen and (min-width: 451px) and (max-width: 800px) {
 
  #logo > a > img {
    width: 200%;
  }
  /* #search {
    display: none;
  } */
  #search>input{
    width:200px;
    font-size: 14px;
  }
  #search>button{
    font-size:16px;
    padding:8px 10px;
  }
#container{
  width:70%;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:40px;
  font-weight: 500;
}
}

/* media queries small size */




